<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fixed Width and Flexible Width Divs</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="parent">
      <div class="flexible-width">Flexible Width</div>
      <div class="fixed-width">Fixed Width</div>
      <div inert>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero distinctio
        ab aliquid doloribus porro, sint dolore itaque. Fugiat repellat officia
        ad, iure numquam tempora porro maxime delectus quas omnis error?
      </div>
    </div>
  </body>
</html>
