<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Page</title>
  </head>
  <body>
    <section>
      <h1>This is Contact page!</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur saepe
        dolor at maiores qui optio ex maxime, necessitatibus explicabo eos.
      </p>
    </section>
  </body>
</html>
