<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Js and Image</title>
    <link rel="stylesheet" href="" th:href="@{/style.css}" />
  </head>
  <body>
    <img src="" th:src="@{images/20240106_132245.jpg}" alt="" />
    <h1>Adding CSS,Js and image in thymeleaf</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dolore
      aliquid est inventore. Explicabo alias vel ut soluta fugiat ex facere
      consequuntur maiores rem consequatur sapiente doloremque molestias ullam,
      id omnis sint debitis itaque iure eos atque saepe. Exercitationem ex
      dolorem porro eius fugiat voluptatem corrupti facilis esse omnis
      obcaecati.
    </p>
    <script class="profile" th:src="@{/myjs.js}"></script>
  </body>
</html>
