<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.thymeleaf.org"
  th:replace="base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New About Page</title>
  </head>
  <body>
    <section>
      <h1>This is new About Section</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore ratione
        aspernatur provident facere, harum est veniam consectetur velit!
        Expedita, eaque!
      </p>
    </section>
  </body>
</html>
