/* Example Google Fonts link */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  /* font-family: "Montserrat", sans-serif !important; */
  font-family: Helvetica, Arial, sans-serif;
}

/* styles.css */

.custom:hover {
  background-color: rgb(
    137,
    136,
    136
  ); /* Change the background color when hovered */
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255, 0);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(75, 74, 74, 0.555);
  border-radius: 10px;
}
.aws-btn {
  --button-default-height: 37px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 6px;
  --button-horizontal-padding: 15px;
  --button-raise-level: 5px;
  --button-hover-pressure: 2;
  --transform-speed: 0.185s;
  --button-primary-color: #475472;
  --button-primary-color-dark: #2a3143;
  --button-primary-color-light: #d4d9e4;
  --button-primary-color-hover: #424e6a;
  --button-primary-border: none;
  --button-secondary-color: #fffc6c;
  --button-secondary-color-dark: #b9b500;
  --button-secondary-color-light: #6c6a00;
  --button-secondary-color-hover: #fffb3e;
  --button-secondary-border: none;
  --button-anchor-color: #f3c8ad;
  --button-anchor-color-dark: #734922;
  --button-anchor-color-light: #4c3016;
  --button-anchor-color-hover: #f1bfa0;
}

.border-gradient {
  /* border: 5px solid !important; */
  background: linear-gradient(to right, #000000, #ffffff, #49d9fa, #00060e);
  /* Define gradient colors */
  border: solid;
  /* border-image: linear-gradient(to top, red, blue) 1 / 5px !important; */
  -webkit-background-clip: text;
  /* Clip the gradient to the text */
  -webkit-text-fill-color: transparent;
}

.motionspan {
  /* color: linear-gradient(to right, #ff7e5f, #feb47b, #ffdb78, #ffaf7b); */
  color: #87d7d0;
}

.background-primary {
  background: rgb(2, 0, 36);
  background: black;
}

.tick-mark {
  content: "\2714"; /* Unicode character for a checkmark */
  color: green; /* Color of the checkmark */
  font-size: 16px; /* Adjust size as needed */
  margin-left: 5px; /* Adjust spacing as needed */
}
.sidebar {
  animation: fadeleft 0.7s ease;
}

.google-card {
  background-color: #343434;
}
img {
  /* width: 60%; */
  /* border-radius: 30%; */
}
.sign-in-container {
  /* background: rgb(255, 255, 255); */
}
.signinBack {
  background-image: url("./Components/pictures/rain.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.form-control::placeholder {
  color: rgba(255, 255, 255, 0.687) !important;
}
.info {
  /* backdrop-filter: blur(px); */
}

.fadeRight {
  color: #49d9fa;
  animation: fadeinRigh 1s ease-in-out;
}

.loginpageContainer {
  background: rgb(0, 0, 0);
}
.white-shadow {
  /* animation: fadeinRigh 1s ease-in-out; */
  animation: whitefader 1.1s ease-in-out;
  box-shadow: 0 0 13px 10px rgba(255, 255, 255, 0.345);
}
.white-shadow:hover {
  /* animation: whitefader2 1.1s ease-in-out; */
  box-shadow: 0 0 13px 11px rgba(255, 255, 255, 0.356);
}
.fadeleft {
  animation: fadeleft 0.8s ease-in-out;
}

.fader {
  animation: fader 1.2s ease-in-out;
}

@keyframes fader {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeleft {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  100% {
  }
}
@keyframes fadeinRigh {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }

  100% {
  }
}

@keyframes whitefader2 {
  0% {
    box-shadow: 0 0 13px 10px rgba(255, 255, 255, 0.345);
  }

  100% {
    box-shadow: 0 0 13px 13px rgba(255, 255, 255, 0.345);
  }
}
@keyframes whitefader {
  0% {
    opacity: 0;
  }

  100% {
    box-shadow: 0 0 13px 10px rgba(255, 255, 255, 0.345);
  }
}
