<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::layout(~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <ul>
        <li><a href="" th:href="@{/home}">Home</a></li>
        <li><a href="" th:href="@{/about}">About</a></li>
        <li><a href="" th:href="@{/services}">Services</a></li>
      </ul>
      <h1>This is services page</h1>
      <div>
        <h1 th:text="${session.message1}"></h1>
        <!--remove the message-->
        <!-- <th:block
            th:text="${@sessionHelper.removeMessageFromSession()}"
          ></th:block> -->
      </div>
    </section>
  </body>
</html>
