<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">



<!-- <beans default-init-method="myInit" default-destroy-method="cleanUp"> -->
<!-- <beans> -->

    <!-- using setter method dependancy injection -->
    <!-- <bean id="triangle" class="cgg.spring.core.Triangle">
        <property name="type" value="Equilateral" />
        <property name="height" value="5" />
    </bean> -->

    <!-- using constructor method dependancy injection -->
    <!-- <bean id="triangle" class="cgg.spring.core.Triangle">
        <constructor-arg index="0" value="Equilateral" />
        <constructor-arg type="int" value="20" />
    </bean> -->

    <!-- <bean id="triangle" class="cgg.spring.core.Triangle" name="tringl"> -->
    <!-- <bean id="parenttriangle" class="cgg.spring.core.Triangle" name="tringl"> -->
        <!-- used for collections -->
        <!-- <property name="points">
            <list>
                <ref bean="zeroPoint" />
                <ref bean="point2" />
                <ref bean="point3" />
            </list>
        </property> -->

        <!-- <property name="pointA" ref="pointA" />
        <property name="pointB" ref="pointB" />
        <property name="pointC" ref="pointC" /> -->
        
        <!-- <property name="pointA" ref="pointA" /> -->

        <!-- <property name="pointB">
            <bean class="cgg.spring.core.Point">
                <property name="x" value="-20" />
                <property name="y" value="0" />
            </bean>
        </property>
        <property name="pointC">
            <bean class="cgg.spring.core.Point">
                <property name="x" value="0" />
                <property name="y" value="20" />
            </bean>
        </property> -->
    <!-- </bean> -->

    

    <!-- implementing inheritance -->
    <!-- <bean id="triangle1" class="cgg.spring.core.Triangle" parent="parenttriangle">
        <property name="pointB" ref="pointB" />
        <property name="pointC" ref="pointC" />
    </bean>
    <bean id="triangle2" class="cgg.spring.core.Triangle" parent="parenttriangle">
        <property name="pointB" ref="pointB" />
    </bean> -->

    <bean id="pointA" class="cgg.spring.core.Point" name="origin">
        <property name="x" value="0" />
        <property name="y" value="0" />
    </bean>
    <bean id="pointB" class="cgg.spring.core.Point">
        <property name="x" value="-20" />
        <property name="y" value="0" />
    </bean>
    <bean id="center" class="cgg.spring.core.Point">
        <property name="x" value="0" />
        <property name="y" value="20" />
    </bean>


    <!-- <bean class="cgg.spring.core.DisplayNameBeanPostProcessor" />
    <bean class="cgg.spring.core.MyBeanFactoryPostProcessor" />
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="propertyConfig.properties" />
    </bean> -->

    <alias name="triangle" alias="triangle-alias" />
    <alias name="zeroPoint" alias="origin-alias" />

    <!-- <bean id="circle" class="cgg.spring.core.Circle">
    </bean> -->

    <context:annotation-config />

    <context:component-scan base-package="cgg.spring.core" />
    
    <!-- <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" /> -->
    <!-- <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" /> -->

    
</beans>
